/* -------------- メイン -------------- */
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  background-color: aqua;
}

.left-container {
  width: 900px;
  padding: 20px;
  background-color: tomato;
}

.post {
  margin-bottom: 40px;
  padding: 20px;
  background-color: deepskyblue;
}

.post-img {
  width: 820px;
  height: 400px;
  margin-bottom: 20px;
}

.post-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.icon-box {
  display: flex;
  margin-bottom: 20px;
}

.icon-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-name {
  font-size: 20px;
  line-height: 50px;
}

.post-overview {
  height: 100px;
  overflow: scroll;
  margin-bottom: 20px;
}

.right-container {
  width: 300px;
  padding: 20px;
  background-color: lime;
}
